#st{
    color: cyan;
    font-family: cursive;
    font-size: 30px;
}
#pg{
    color: darkorchid;
    font-family: initial;
    font-size: 30px;
}
table{
    background-color: red;
    color: white;
}
h1{
    background-color: pink;
    color: royalblue;

    font-family: cursive;
}